@model CadeviTCC.Models.Entities.Aluno

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar</h2>

<h3>Confirme para finalizar operação</h3>
<div>
    <h4>Aluno: @Html.DisplayFor(model => model.Nome)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <text class="text">Professor:</text>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.Nome)
        </dd>

        <dt>
            <text class="text">Aluno:</text>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirmar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
