@model IEnumerable<CadeviTCC.Models.Entities.Aluno>

@{
    ViewBag.Title = "Index";


}

<h2>Alunos</h2>

<p>
    @if (Session["usuarioTipo"].Equals(2))
    {
        @Html.ActionLink("Registrar novo aluno", "Create")
    }
</p>

@if (Session["usuarioTipo"].Equals(2))
{
    <p>
        @using (Html.BeginForm("Index", "Aluno", FormMethod.Get))
        {
            @Html.TextBox("pesquisa", null, htmlAttributes: new { @class = "form-control" })  <input class="form-group" type="submit" value="Filtrar" />
           
        }
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                @if (Session["usuarioTipo"].Equals(2))
                {
                   // @Html.ActionLink("Delete |", "Delete", new { id = item.Id })
                    <button class="btn btn-sm btn-warning" type="button" onclick="MensagemConfirma('Atenção','Quando excluir aluno, todos os documentos e arquivos vinculados serão excluidos. Deseja realmente continuar','@Url.Action("Delete", "Aluno", new { id = item.Id })')">Deletar</button>
                }
                @Html.ActionLink("Documentos", "DocumentosAluno", new { id = item.Id })
            </td>
        </tr>
    }

</table>
