@model IEnumerable<CadeviTCC.Models.DTO.ArquivoDigitalDocumentoDTO>

@{
    ViewBag.Title = "IndexDocDigital";
}

<h2>Arquivos</h2>

<p>
    @if (Session["usuarioTipo"].Equals(2))
    {
    <button class="btn btn-sm btn-success" type="button">@Html.ActionLink("Registrar novo arquivo digital", "Create")</button>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeArquivo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeArquivo)
        </td>
        <td>
            @Html.ActionLink("Baixar", "Download", new { id = item.Id })
            @if (Session["usuarioTipo"].Equals(2))
            {
                @Html.ActionLink("| Deletar", "Delete", new { id = item.Id }) 

            }
        @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
