@model IEnumerable<CadeviTCC.Models.DTO.DocumentoDTO>

@{
    ViewBag.Title = "IndexDoc";
}

<h2>Documentos</h2>

<p>
    @if (Session["usuarioTipo"].Equals(2))
    {
       
         <button class="btn btn-sm btn-success" type="button">@Html.ActionLink("Vincular Documento", "VincularDocumento")</button>

    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
            @if (Session["usuarioTipo"].Equals(2))
            {
                @*@Html.ActionLink("Desvincular |", "Desvincular", new { id = item.IdDocumento })*@
                <button class="btn btn-sm btn-warning" type="button">@Html.ActionLink("Desvincular", "Desvincular", new { id = item.IdDocumento })</button>
            }
                <button class="btn btn-sm btn-white" type="button">@Html.ActionLink("Buscar", "Buscar", new { id = item.IdDocumento })</button>

            
        </td>
    </tr>
}

</table>
