@model IEnumerable<CadeviTCC.Models.Context.Entities.Documento>

@{
    ViewBag.Title = "Index";
}

<h2>Documentos</h2>

<p>
    
    <button class="btn btn-sm btn-success" type="button">@Html.ActionLink("Criar novo", "Create")</button>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            <button class="btn btn-sm btn-white" type="button"> @Html.ActionLink("Editar", "Edit", new { id = item.Id })</button>
            @*@Html.ActionLink("Excluir", "Delete", new { id = item.Id })*@
            <button class="btn btn-sm btn-warning" type="button" onclick="MensagemConfirma('Atenção','Todos os vinculos com esse documento serão excluidos','@Url.Action("Delete", "Documento", new { id = item.Id })')">Deletar</button>
        </td>
    </tr>
}

</table>
